.drawContainer {
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drawCards {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.drawCard {
  display: flex;
}
