.journalContainer {
  padding: 16px;
  background-color: var(--color-element);
  border: 1px solid var(--color-highlight);
  width: 100%;
  border-radius: 4px;
  align-items: center;
}

.journalEntry {
  margin-bottom: 12px;
}

.journalEntry:last-child {
  margin-bottom: 0;
}

.journalEntry .MuiTextField-root {
  width: 100vw;
}

.journalEntry .MuiButton-root {
  margin-top: 8px;
  display: block;
  width: 100vw;
  box-sizing: border-box;
}
