.tarotCard {
  box-shadow: 0 2px 4px var(--color-shadow);
  max-width: 300px;
  overflow: hidden;
  transition: transform 0.2s;
}

.tarotCardMedia {
  height: auto;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-shadow);
}

.tarotCardTitle {
  text-align: center;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-shadow);
}

.tarotCardContent {
  text-align: center;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-shadow);
}
