:root {
  --color-bg: #80065f;
  --color-element: #9e2308;
  --color-highlight: #d9530b;
  --color-shadow: #780606;
  --color-fg: #eca985;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-fg);
  background-size: cover;
  background-image: url('../../nyxx-tape-6ax81cLilAQ-unsplash.jpg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
