.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6 {
  background-color: var(--color-element);
  color: var(--color-fg);
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  justify-self: center;
  width: 100%;
  text-align: center;
}

.MuiTypography-h1 {
  font-size: 42px;
  letter-spacing: 0.02em;
}

.MuiTypography-h2 {
  font-size: 28px;
  letter-spacing: 0.01em;
}

.MuiTypography-h3 {
  font-size: 24px;
}

.MuiTypography-h4 {
  font-size: 20px;
}

.MuiTypography-h5 {
  font-size: 18px;
}

.MuiTypography-h6 {
  font-size: 16px;
}
